name: Build

on:
  push:
    branches: [ master-v2 ]

jobs:
  build-angular: 
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v6-beta
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with: 
          node-version: 20.x

      - name: Install dependencies
        run: npm install --legacy-peer-deps
       # use | for multi line

      - name: Build
        run: npm run build


