name: Deploy Develop

on:
  push:
    branches: [master-v2]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      docker-tag: ${{ steps.set-tag.outputs.tag }}

    steps:
      # Checkout repo
      - name: Checkout
        uses: actions/checkout@v6-beta

      # Node
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 20.19.5

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      # Build
      - name: Build App
        run: npm run build

      # Upload build artifacts
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          # Artifact name
          name: angular-dist
          # Path of the directory containing the static assets.
          path: dist/

      - name: Set Docker tag
        id: set-tag
        run: |
          echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT  # first 7 chars of commit SHA

  deploy:
    name: Deploy to ECS
    needs: build
    runs-on: ubuntu-latest

    env:
      ECR_REPOSITORY: my-angular-app
      CONTAINER_NAME: my-container
      ECS_SERVICE: my-service
      ECS_CLUSTER: beloved-frog-95prko
      TASK_DEFINITION: angular-task
      
      

    steps:
      # Checkout repo
      - name: Checkout
        uses: actions/checkout@v6-beta

      # Download build artifact
      - name: Download a Build Artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: angular-dist
          path: dist/

      - name: Login to AWS
        # You may pin to the exact commit or the version.
        # uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }} .
          docker tag ${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }} ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }}

      - name: Push Docker image to ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com 
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }}

      - name: Download task definition
        run: |
          aws ecs describe-task-definition --task-definition ${{ env.TASK_DEFINITION }} --query taskDefinition > task-definition.json
          
      # - name: Amazon ECS "Render Task Definition" Action for GitHub Actions
      #   # You may pin to the exact commit or the version.
      #   # uses: aws-actions/amazon-ecs-render-task-definition@cbed19f1b86bbb18f59cfffde7107b93cc9b75da
      #   id: task-definition-id
      #   uses: aws-actions/amazon-ecs-render-task-definition@v1
      #   with: 
      #     task-definition: task-definition.json
      #     container-name: ${{ env.CONTAINER_NAME }}
      #     image: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }}

      - name: Render task definition dynamically
        id: taskdef
        run: |
          cat <<EOF > taskdef.json
          {
            "family": "${{ env.TASK_DEFINITION }}",
            "networkMode": "awsvpc",
            "requiresCompatibilities": ["FARGATE"],
            "cpu": "256",
            "memory": "512",
            "containerDefinitions": [
              {
                "name": "${{ env.CONTAINER_NAME }}",
                "image": "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }}",
                "essential": true,
                "portMappings": [
                  {
                    "containerPort": 80,
                    "hostPort": 80,
                    "protocol": "tcp"
                  }
                ]
              }
            ]
          }
          EOF

      - name: Print task definition
        run: |
          aws ecs describe-task-definition --task-definition angular-task --query "taskDefinition.containerDefinitions[].name" --output text
          # cat ${{ steps.task-definition-id.outputs.task-definition }}
          # 

 
      - name: Amazon ECS "Deploy Task Definition" Action for GitHub Actions
        # You may pin to the exact commit or the version.
        # uses: aws-actions/amazon-ecs-deploy-task-definition@1beffbdddb3eb5f83c7a746c3e9bafeccdccbbaa
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with: 
          task-definition: ${{ steps.task-definition-id.outputs.task-definition }}
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.docker-tag }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          
      # - name: Deploy to ECS        
      #   run: |
      #     aws ecs update-service \
      #       --cluster beloved-frog-95prko \
      #       --service my-service \
      #       --force-new-deployment
